*{
    margin: 0;
    padding: 0;
    font-family:  monospace;
}
.contacto{
    background-image: url(..//img/foto2.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border-radius: 6px;
    width: 400px;
    height: 500px;
    background: rgba(86, 39, 1, 0.737);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}
form strong{
    font-size: 1.2em;
    position: relative;
    top: -40px;
}
form label{
    position: relative;
    left: 4%;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.1em;
}
form input{
    padding: 3px;
    height: 30px;
    outline: none;
    border: 0;
    width: 90%;
    margin-bottom: 15px;
    font-size: 18px;
}
.boton{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: all .6s;
    cursor: pointer;
}
.boton:hover{
    background: white;
    color: black;
}